.contact{
    position: absolute;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 0,5rem  solid white;
    width: 50%;
    height: 70%;
    color: white;
    top: 10rem;
    left: 28%;
    border-radius: 10%;
    
}
.contact button{
    position: absolute;
    left: 13.5rem;
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
    
}
.contact h1 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact p {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact .direccion h2{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact .telefono h2{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact .social-media h2 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact .social-media p {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bottom__bar4 {
    background-color: white;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 113px;
    margin-top: 3rem;
    top: 90.4%;
}
.bottom__bar4 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    margin-top: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 65%;
    left: 50%;
}
.bottom__bar4 .svg-icon4 {
    position: absolute;
    font-size: 0.7rem;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 90%;
}

.images img {
    margin-top: 3rem;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin: 5rem;
}